@use "../abstracts/variables" as *;
/*
///////////////////////////BBPRESS Forums\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/

//**forums
#bbpress-forums {
    margin-bottom: 0;
}

//forum menu

//grid cols
.home-grid__col-1,
.home-grid__col-2 {
    border-right: 1px solid $brand-grey-transparent;
}
//grid column headers
.home-grid__col-1 h2,
.home-grid__col-2 h2,
.home-grid__col-3 h2 {
    color: $brand-grey;
    font-size: $fs-16;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 1rem;
}
.latest-posts-grid {
    border-bottom: 1px solid $brand-grey-transparent;
    margin-bottom: 1rem;
    margin-right: 1rem;
    padding-bottom: 1rem;
}
.latest-posts-grid:last-of-type {
    border-bottom: none;
}
.latest-posts-grid a {
    font-weight: bold;
    font-size: $fs-20;
    //display: block;
    letter-spacing: 1px;
}
.latest-posts-grid__col-2,
.latest-posts-grid__col-3 {
    //align-self: center;
    justify-self: center;
}
.latest-post-item-1 a,
.latest-post-item-2 a,
.latest-post-item-3 a,
.latest-post-item-4 a {
    //display: block;
    padding-bottom: 3px;
}
#bbpress-forums {
    .latest-post-item-1 a {
        color: $brand-blue;
        &:visited {
            color: $brand-blue;
        }
        &:hover {
            color: $link-hover;
        }
    }
    .latest-post-item-2 a {
        color: $brand-red;
        &:visited {
            color: $brand-red;
        }
        &:hover {
            color: $link-hover;
        }
    }
    .latest-post-item-3 a {
        color: $brand-orange;
        &:visited {
            color: $brand-orange;
        }
        &:hover {
            color: $link-hover;
        }
    }
    .latest-post-item-4 a {
        color: $brand-green;
        &:visited {
            color: $brand-green;
        }
        &:hover {
            color: $link-hover;
        }
    }
}
#bbpress-forums {
    .latest-post-item-1 p,
    .latest-post-item-2 p,
    .latest-post-item-3 p,
    .latest-post-item-4 p {
        padding-top: 0.5rem;
        color: $brand-grey;
    }
}

.post-number {
    padding-right: 0.5rem;
}
#bbpress-forums {
    .latest-posts-grid-header p {
        color: $brand-grey;
    }
}
//clearing some styling
#bbpress-forums li.bbp-body ul.forum,
#bbpress-forums li.bbp-body ul.topic {
    border-top: none;
}
#bbpress-forums div.odd,
#bbpress-forums ul.odd {
    background-color: $clr-white;
}
.bbp-body,
#bbpress-forums .bbp-forums-list .bbp-forum {
    font-size: $fs-16;
    display: block;
}

.accordion br {
    display: none;
}
.bbp-forum {
    padding-top: 0.5rem;
}
#bbpress-forums {
    .bbp-forum-title {
        color: $brand-blue;
        font-weight: bold;
        letter-spacing: 1px;
        &:hover {
            color: $brand-blue;
        }
    }
}
.arrow-icon {
    display: inline;
    max-width: 15px;
    transform: rotate(0deg);
    transition-duration: 0.5s;
    margin-right: 5px;
}

.active .arrow-icon {
    transform: rotate(90deg);
    transition-duration: 0.5s;
}
.forum-menu-container {
    padding-left: 1rem;
}
.accordion {
    li.bbp-forum-info,
    li.bbp-topic-title {
        float: none;
        width: 100%;
    }
}
#bbpress-forums {
    .bbp-forums-list a {
        color: $brand-grey;
        font-weight: bold;
        letter-spacing: 1px;
        &:visited {
            color: $brand-grey;
        }
        &:hover {
            color: $link-hover;
        }
    }
}
#bbpress-forums .bbp-forums-list {
    border-left: none;
}
.forum-menu-container {
    max-height: 0;
    transition: max-height 0.5s ease-out;
}
.bbp-forum-info a {
    //padding-left: 1rem;
    display: block;
    cursor: pointer;
}
//avatar display
#bbpress-forums {
    .editors-list-container {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0.5rem 0;
        a {
            color: $brand-grey;
            font-weight: bold;
            font-size: $fs-16;
            text-decoration: underline;
            &:visited {
                color: $brand-grey;
            }
        }
    }
}
.avatar-img {
    display: inline;
    max-width: 50%;
}

#bbpress-forums li.bbp-footer,
#bbpress-forums li.bbp-header {
    border-top: none;
}

#bbpress-forums {
    div.bbp-template-notice.info {
        border: none;
        padding: 0 2px;
        background: $brand-blue;
        color: $clr-white;
        li {
            font-size: $fs-14;
        }
        a {
            color: $clr-white;
            text-decoration: underline;
            &:hover {
                color: $link-hover;
            }
        }
        .bbp-author-avatar .avatar-14 {
            width: 28px;
            height: 28px;
        }
    }
}
#bbpress-forums li.bbp-header {
    background: $brand-blue;
    color: $clr-white;
}

//submit btn
.bbp-submit-wrapper {
    button {
        background-color: $brand-blue;
        color: $clr-white;
        border: none;
        padding: 5px;
        border-radius: 5px;
    }
}

//hide <br> tags in loop-single-forum.php
.bbp-forums-list br {
    display: none;
}
