@use "../abstracts/variables" as *;
@use "../base" as *;
/*////////////////HOME PAGE \\\\\\\\\\\\\\\*/

.home-grid {
    display: grid;
    grid-template-columns: 1fr 50% 1fr;
    @include below(900px) {
        grid-template-columns: 1fr 1fr;
    }
    @include below(400px) {
        grid-template-columns: 1fr;
    }
}

.latest-posts-grid,
.latest-posts-grid-header {
    display: grid;
    grid-template-columns: 70% 1fr 1fr;
    gap: 0.5rem;
}
